.image-container {
  height: 56vh;

  box-sizing: border-box;

  &__wrapper {
    width: 100%;
    height: 100%;

    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bgpic {
    width: 100%;
    height: 100%;
    background-image: url("http://placehold.it/300");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-image .2s ease-in-out 0s;
  }
}

@media (min-width: $wide-mobile-width) {
  .image-container__wrapper {
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .image-container {
    width: 80%;
    height: 84vh;
  }
}
