.description {
  min-height: 22vh;
  max-height: 22vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 10px;
  padding-top: 20px;
  box-sizing: border-box;

  transition: max-height 0.5s ease-in-out 0s;
  overflow: hidden;

  & h3 {
    @include margin-killer;
    margin-bottom: 4px;
    font-size: $xs-heading-font-size;
    line-height: $xs-heading-line-height;
  }

  & p,
  &__large-text {
    @include margin-killer;
    font-size: $xs-text-size;
    line-height: $xs-line-height;
  }
}

.description__large-text,
#read-more,
#dots {
  display: none;
}

#read-more {
  @include margin-killer;
  padding: 9px 0;

  font-size: $link-text-size;

  color: blue;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

#read-more,
.description__large-text {
  transition: opacity 0.5s ease-in-out 0s;
}

@media (min-width: $wide-mobile-width) {
  .description {
    padding: 0 20px;
    padding-top: 20px;

    & h3 {
        margin-bottom: 6px;
    }

    &__large-text {
      line-height: $xs-heading-line-height;
    }
  }

  #read-more {
    padding-top: 9px;
    padding-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .description {

    & h3 {
      margin-bottom: 6px;

      font-size: $md-heading-font-size;
      line-height: $md-heading-line-height;
    }

    & p,
    .description__large-text {
      font-size: $md-text-size;
      line-height: $md-line-height;
    }
  }

  #read-more {
    font-size: $md-text-size;
    line-height: $md-line-height;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 75%;

    & h3 {
      font-size: $xl-heading-font-size;
      line-height: $xl-heading-line-height;
    }

    & p,
    .description__large-text {
      font-size: $xl-text-size;
      line-height: $xl-line-height;
    }
  }

  #read-more {
    display: none;
  }
}

@import "share.scss";