.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;

  padding-bottom: 8px;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  width: 100%;

  bottom: -17px;

  color: #ffffff;
  text-align: center;

  z-index: 1;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slider-controls {
  z-index: 1;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 22px;

  vertical-align: top;

  background-color: $gray-color;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

#product-1:checked ~ .slider label[for="product-1"],
#product-2:checked ~ .slider label[for="product-2"],
#product-3:checked ~ .slider label[for="product-3"],
#product-4:checked ~ .slider label[for="product-4"],
#product-5:checked ~ .slider label[for="product-5"],
#product-6:checked ~ .slider label[for="product-6"],
#product-7:checked ~ .slider label[for="product-7"],
#product-8:checked ~ .slider label[for="product-8"],
#product-9:checked ~ .slider label[for="product-9"] {
  background-color: $dark-gray-color;
}

@media (min-width: $desktop-width) {
  .slider-container__prev,
  .slider-container__next {
    position: absolute;
    width: 17px;
    height: 25px;
    top: 50%;
  }

  .slider-container__prev {
    left: 1%;
  }

  .slider-container__next {
    right: 1%;
  }

  .slider-container__prev::before,
  .slider-container__next::before,
  .slider-container__prev::after,
  .slider-container__next::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60%;
    height: 2px;

    background-color: $gray-color;
  }

  .slider-container__next:hover::before,
  .slider-container__next:hover::after {
    background-color: $dark-gray-color;
  }

  .slider-container__prev:hover::before,
  .slider-container__prev:hover::after {
    background-color: $dark-gray-color;
  }

  .slider-container__next::before,
  .slider-container__next::after {
    left: 0;
    transform-origin: right;
  }

  .slider-container__prev::after,
  .slider-container__prev::before {
    transform-origin: left;
    right: 0;  
  }

  .slider-container__prev::before {
    transform: rotate(-45deg);
  }

  .slider-container__prev::after {
    transform: rotate(45deg);
  }

  .slider-container__next::before {
    transform: rotate(45deg);
  }

  .slider-container__next::after {
    transform: rotate(-45deg);
  }
}
