@media (min-width: $tablet-width) {
  .content-container {
    position: relative;
    max-width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .content-container {
    max-width: none;
  }
}

@media (min-width: $max-screen) {
  .content-container {
    max-width: $max-screen;
  }
}
