$main-color: rgb(56,152,236);
$opacity-color: rgba(40, 54, 69, 0.3);
$opacity-color-05: rgba(40, 54, 69, 0.5);
$slider-bellet-on-hover: rgba(40, 54, 69, 0.6);
$slider-bellet-active: rgba(40, 54, 69, 0.1);
$opacity-color-1: rgba(0, 0, 0, 0.1);
$pink-color: #d22856;
$pink-transparent: rgba(210, 40, 86, 0.3);
$gray-color: #959595;
$dark-gray-color: #2b2b2b;
$white-color: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.3);
$black-color: #000000;
$black-color-opacity: rgba(0, 0, 0, 0.3);
$black-color-opacity09: rgba(0, 0, 0, 0.9);
$green-color: #2aab6d;
$green-color-hover: #1c9b5e;

$wide-mobile-width: 414px;
$tablet-width: 660px;
$desktop-width: 960px;
$max-screen: 1980px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$menu-heading-size: 27.5px;
$menu-line-height: 49.5px;
$menu-heading-md-size: 35px;
$menu-line-md-height: 63px;

$xs-heading-font-size: 15px;
$xs-heading-line-height: 19px;
$xs-text-size: 14px;
$xs-line-height: 17px;
$md-heading-font-size: 16px;
$md-heading-line-height: 20px;
$md-text-size: 15px;
$md-line-height: 22px;
$xl-heading-font-size: 20px;
$xl-heading-line-height: 28px;
$xl-text-size: 16px;
$xl-line-height: 23px;

$link-text-size: 12px;
$link-line-height: 20px;


@mixin general-heading-bold {
  font-size: $general-heading-size;
  line-height: $heading-line-height;
  font-weight: bold;
}

@mixin general-heading-normal {
  font-size: $general-heading-size;
  line-height: $heading-line-height;
  font-weight: normal;
}

@mixin general-heading-tablet {
  font-size: $general-heading-size-tablet;
  line-height: $heading-line-height-tablet;
  font-weight: 300;
}

@mixin general-heading-desktop {
  font-size: $general-heading-size-desktop;
  line-height: $heading-line-height-desktop;
  font-weight: 300;
}

@mixin general-text-std {
  font-size: $xs-text-size;
  line-height: $text-line-height;
  font-weight: normal;
}

@mixin general-text-lengthy {
  font-size: $xs-text-size;
  line-height: $heading-line-height;
  font-weight: normal;
}

@mixin list-killer {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin-killer {
  margin: 0;
  padding: 0;
}
